<header>
    <div class="row">
        <div class="col-md-12">
            <h1><a href="@Url.Action("Index", "Home")">Lighttour.com.ua</a></h1>
            <p class="lead">Туроператор</p>            
        </div>
    </div>
</header>
