<header>
    <div class="row">
        <div class="col-md-12">
            <h1><a href="@Url.Action("Index", "Home")">Lighttour.com.ua</a></h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>            
        </div>
    </div>
</header>
