@using TourOperator.Domain.Data.Entities
@using TourOperator.Web.Helpers
@model IEnumerable<Country>

@if (Model != null)
{
    <div class="col-md-3">

        <ul class="nav nav-stacked">
            @foreach (Country country in Model)
            {
                <li class="@Html.MenuActive("CountryDetails", "Home")">
                    <a href="@Url.Action("Details", "Country", new { id = country.Id })">@country.Name</a>
                </li>
            }
        </ul>
    </div>
}