@model TourOperator.Domain.Data.Entities.Country

@{
    ViewBag.Title = "Добавить Страну";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Добавить Страну</h2>

<form role="form" action="@Url.Action()" method="POST">
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
        <input type="text" name="Name" id="Name"
               data-val-required="Недопустимое название страны"
               data-val-length-min="3"
               data-val-length-max="200"
               data-val-length="Более 3х символов"
               data-val="true"
               class="text-box single-line form-control" />
    </div>

    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
</form>