@model TourOperator.Domain.Data.Entities.Country

@{
    ViewBag.Title = "AddCountry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Добавить страну</h2>

<form role="form" action="@Url.Action()" method="POST">
    <div class="form-group">
        <label for="Name">Название страны:</label>
        <input type="text" name="Name" id="Name" />
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>